* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

/* Common */


.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    padding: 0px 8px;
    float: left;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333333%;
}


.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}


/* Main */

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}


#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    text-transform: uppercase;
    color: white;
    line-height: 46px;
    padding: 0px 24px;
}

#nav li a {
    text-decoration: none;
    display: block;
}



#nav>li:hover>a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: black;
}


#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgb(81, 75, 75, 0.3);

}

#nav .subnav li {
    display: block;
}

#nav li:hover .subnav {
    display: block;
}


#nav .subnav a {
    font-size: 15px;
    line-height: 38px;
    color: black;
    padding: 0px 16px;
}

.subnav li a {}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
}

#header .search-icon {
    padding: 0px 24px;
    line-height: 46px;
    display: block;
    color: white;
}

#header .search-btn:hover .search-icon {
    cursor: pointer;
    background-color: #f44336;
}



#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/JB/jb3.jpg') top center / cover no-repeat;
}

#slider .text-content {
    text-align: center;
    bottom: 32px;
    position: absolute;
    color: white;
    width: 100%;
}

#slider .text-heading {
    margin: 10px 0px;
    font-size: 24px;
}

#slider .text-sub {
    margin: 15px 0px;
}

#content {}

#content .content-section {
    width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;


}

#content .header-section {
    text-align: center;
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 4px;
}

#content .sub-section {
    text-align: center;
    margin: 15px 0px;
    font-style: italic;
    opacity: 0.5;
}

#content .about-text {
    margin: 15px 0px;
    line-height: 1.4;
    text-align: justify;
    font-size: 15px;
}

#content .member-list {
    padding: 32px 0px;
}



#content .name-member {
    margin: 15px 0px;
}


#content .img-member {
    margin: 0 0 16px;
    width: 60%;
    border-radius: 4px;
}

#content .tour {
    background-color: black;
    width: auto;
}

#content .tickets {
    margin-top: 40px;
}

#content .tour .content-section {
    color: white;
}

#content .tickets li {
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
    background-color: white;
    color: #757575 !important;
}



#content .tickets .status-ticket {
    margin: 0px 8px;
    color: #fff !important;
    background-color: #f44336 !important;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    line-height: 1.5;
}

#content .tickets .quantity {
    float: right;
    margin-right: 16px;
    padding: 0px 8px;
    border-radius: 50%;
    background-color: #000;
    color: white;
    line-height: 21px;
}

#content .tour-place {
    padding: 32px 0px;
}


#content .place-body {
    color: black;
    background-color: white;
    padding: 0.5px 16px;
}

.place-body .place-heading {
    margin: 15px 0px;
    font-size: 15px;

}

.place-body .place-time {
    opacity: 0.6;
    margin: 15px 0px;
}

.place-body .place-desc {
    margin: 15px 0px;

}


.place-body .place-buy-btn {
    line-height: 23px;
    padding: 8px 16px;
    margin-bottom: 16px;
    display: inline-block;
    background-color: #000;
    color: white;
    text-decoration: none;
}

.tour-list img:hover {
    opacity: 0.6;
}

.tour-list .place-buy-btn:hover {
    color: black;
    background-color: #ccc;
    border: 2px solid #ccc;

}



#content .img-place {
    width: 100%;
    display: block;
}

#content .tour-list {
    margin-bottom: 16px;
}

.contact {
    height: 500px;
}

.contact .contact-content {
    padding: 32px 0px;
    font-size: 18px;
}


.contact-content i {
    width: 30px;
    display: inline-block;
    line-height: 1.5;
}

.contact .contact-form {
    
    font-size: 15px;
}

.contact .form-control {
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
}

.contact-form .form-submit-btn {
    margin: 16px 0px;
    float: right;
    padding: 8px 14px;
    border: 1px solid #ccc;
    background-color: #000;
    color: white;
    font-size: 15px;
    line-height: 20px;
}

.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
}








#foot {}

.modal {
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    /* display: flex; */
    display: none;
}

.modal-container {
    position: relative;
    width: 900px;
    background-color: white;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 1s;
}

.header-modal {
    color: white;
    padding: 42px 16px;
    background-color: #009688;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    min-height: 130px;

}

.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 14px 16px;
    opacity: 0.6;
    cursor: pointer;
}

.close-modal:hover {
    opacity: 1;
}

.modal-body {
    padding: 0px 16px;


}

.modal-label {
    display: block;
    margin: 16px 0px;
}

.modal-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.modal-pay-btn {
    width: 100%;
    margin: 16px 0px;
    padding: 16px;
    background-color: #009688;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.modal-pay-btn:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    margin-bottom: 30px;
    margin-top: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}


.modal.open {
    display: flex;
}




@keyframes modalFadeIn {
    from {
        opacity: 0.2;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}